.git
.gitignore
.idea
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.ruff_cache
.coverage
htmlcov

.env
.venv
venv

frontend/node_modules
frontend/dist
node_modules

notebooks
runs
logs

data/raw
data/interim
data/external
data/temp

tests
